main {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: var(--primary-background);
    padding-left: 10px;
    padding-right: 10px;
    
}

main img {
    width: 50%;
    height: 50%; 
    border: solid black 5px;
    border-radius: 50%; 
    border-top-left-radius: 20px;
    
}


.home-text {
    text-align: start;
    margin: 24px 4px;
    padding: 7px 20px;
    border: solid black;
    background-color: var(--primary-background);
    color: var(--primary-fontcolor);
}

h2 {
    color: var(--secondary-color);
}

h3 {
    color: var(--secondary-color);
}

h4 {
    color: var(--secondary-color);
}

i {
    color: var(--secondary-color);
    font-size: 25px;
}

#resume {
    height: 40px;
    background-color: lightgray;
    border-radius: 6px;
    min-width: 80px;
    font-size: 15px;
    text-decoration: none;
    color: var(--primary-background);
    
}

#resume:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Screens 481px plus will change the layout for tablets*/
@media screen and (min-width: 481px) {
    .main-section {
        display: flex;
        text-align: start;
        font-size: 17px;
    }
    .home-text {
        padding-left: 50px;
        margin-left: 50px;
        border: solid black;
        background-color: var(--primary-background);
        color: var(--primary-fontcolor);
    }
      
    main img {
        width: 270px;
        height: 350px;
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 769px) {
    
    .home-text {
        margin-right: 50px;
    }
}