/* Main section */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/* Blog heading, text and image */
article {
    background-color: var(--primary-background);
    color: var(--primary-fontcolor);
    border: solid black 1px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    margin: 20px 5px;
}

h3 {
    color: var(--secondary-color);
}

.blog-post {
    border: solid black 5px;
}

.blog-description {
    max-width: 390px;
    text-align: center;
}

/* Blog button */
#more {
    background-color: var(--secondary-color);
    border: solid black 2px;
    border-radius: 6px;
    min-width: 20px;
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-background);
    margin-bottom: 10px;
}

#more:hover {
    background-color: grey;
    cursor: pointer;
    transform: scale(1.1);
}

/* blog image */
.blog-image {
    width: 400px;
}
