/* Main section */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px 10px;
}

/* Form layout and background */
.full-form {
    border: solid black;
    background-color: var(--primary-background);
    color: var(--primary-fontcolor);
    padding: 5px 20px;
}

/* Form header */
h2 {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Email edit */
strong {
    color: var(--secondary-color);
}

/* Form section for label, input and button */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}

.form-group label {
    font-size: 18px

}

.form-input {
    border: 1px solid black;
    outline: none;
    border-radius: 4px;
    font-size: 18px;
}

.form-input:not(.form-textarea){
    height: 35px;

}

.form-textarea {
    resize: none;
}

.form-input:focus {
    box-shadow: 3px 3px 10px 2px #DAFFFD;
}

.bttn {
    text-align: center;
    
}

#submit {
    height: 40px;
    background-color: lightgray;
    border: bold black 10px;
    border-radius: 6px;
    min-width: 120px;
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-background);
}

#submit:hover {
    cursor: pointer;
    background-color: grey;

}

/* Screens 481px plus will change the layout for tablets*/
@media screen and (min-width: 481px) {
    form {
        width: 500px;
    }

    .form-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-input {
        width: 70%;
    }
}
