main {
    display: flex;
    text-align: center;
    color: var(--primary-background);
    padding-left: 10px;
    padding-right: 10px;
}

main img {
    width: 50%;
    height: 50%; 
    border: solid black 5px;
    border-radius: 50%; 
    animation-name: fade-in;
    animation-duration: 4s;
}

.home-text {
    margin-bottom: 20px;
    animation: fade-in;
    animation-duration: 3s;
    border: solid black;
    background-color: var(--primary-background);
    color: var(--primary-fontcolor);
}

.container {
    display: inline-block;
}

.text {
    color: var(--secondary-color);
    border-right: solid 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(22), cursor .4s step-end infinite alternate;
}


/* Screens 481px plus will change the layout for tablets*/
@media screen and (min-width: 481px) {
    .main-section {
        display: flex; 
        text-align: center;
        margin: 20px;
    }
      
    main img {
        width: 250px;
        height: 320px;
        margin: 10px 50px;
    }

    .home-text {
        margin: auto;
        margin-left: 20px;
        padding: 20px 10px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    } 
}

@keyframes typing {
    from {
        width: 0
    }    
}