/* Main section */
main {
    display: flex;
    text-align: center;
    color: var(--primary-background);
    padding-left: 10px;
    padding-right: 10px;
}

/* Image of me on the main page */
main img {
    width: 50%;
    height: 50%; 
    border: solid black 5px;
    border-radius: 50%; 
    border-top-left-radius: 20px;
    animation-name: fade-in;
    animation-duration: 4s;
    margin: 20px 0;
}

/* The Text block edits background, color and layout */
.home-text {
    margin-bottom: 20px;
    animation: fade-in;
    animation-duration: 3s;
    border: solid black;
    background-color: var(--primary-background);
    color: var(--primary-fontcolor);
}

/* The Hello, I'm luke harris. Sets it so its just the length of text */
.container {
    display: inline-block;
}

/* Controls the style of text and adds the animation */
.text {
    color: var(--secondary-color);
    border-right: solid 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(22), cursor .4s step-end infinite alternate;
}


/* Screens 481px plus will change the layout for tablets*/
@media screen and (min-width: 481px) {
    .main-section {
        display: flex; 
        text-align: center;
        margin: 20px;
    }
      
    main img {
        width: 250px;
        height: 320px;
        margin: 10px 50px;
    }

    .home-text {
        margin: auto;
        margin-left: 20px;
        padding: 20px 10px;
    }
}

/* Screens 1080px plus will change the layout for desktop */
@media screen and (min-width: 1080px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
    }

    main img {
        width: auto;
        width: 330px;
        height: 400px;
    }
    
}
/* Animation section which are attached above */
/* creates the fade in effect */
@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* Creates the blinking effect */
@keyframes cursor {
    50% {
        border-color: transparent;
    } 
}
/* Creates the typing effect */
@keyframes typing {
    from {
        width: 0
    }    
}