main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

article {
    overflow: hidden;
    text-align: center;
    margin: 20px 10px;
}


.project-image {
    width: 400px;
}

.project {
    border: solid black 5px;
    border-radius: 50%;
    background-color: var(--primary-background);
    color: var(--secondary-color);
    
}