/* Thank you text and animation */
.thanks {
    text-align: center;
    animation-name: colored-text;
    animation-duration: 6s;
}

/* Creates animation for coloured text and zoom effect */
@keyframes colored-text {
    0% {
        color: darkred;
    }
    25% {
        color: darkorange;
        transform: scale(1.4);
    }
    50% {
        color: darkgreen;
        transform: scale(1);
    }
    75% {
        color: darkblue;
        transform: scale(1.4);
    }
    100% {
        color: darkmagenta;
    }
}

